.cart-page{
  width: 100%;
  min-height: 100vh;
  background-color: #f1f3f6;
  padding: 20px;
}

.cart-page h2{
  margin-bottom: 20px;
}

.cart-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-card{
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
}

.cart-card img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-details{
  flex: 1;
}

.cart-details p{
  color: gray;
  margin: 10px 0;
}

.cart-details h4{
  color: green;
}

.cart-details button{
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.total-box{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.quantity-box{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.quantity-box button{
  width: 35px;
  height: 35px;
  border: none;
  background-color: #2874f0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.quantity-box span{
  font-size: 18px;
  font-weight: bold;
}
.checkout-btn{
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  background-color: #fb641b;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}